@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Rubik, sans-serif;
}

.test {
  border: 1px solid red;
}

.bgImage {
  background-image: url(../public/bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  width: 100%;
  border: 1px solid gray;
}

.table tr td {
  border: 1px solid gray;
  padding: 5px;
}

.table tr td:nth-child(1) {
  width: 40%;
  /* background-color: #f2f2f2; */
}

.mainBg {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
